<!DOCTYPE html>
<html>
    <head>
        <title>Mad Lib Form</title>
    </head>
    <body>
        <h1> Fill out this form to create a MadLibs Story!</h1>
        <br>
        <form action="/story" method="post">
            <label for="name1">Enter a Name</label>
            <input id="name1" name="name1" type="text">
            <br>
            <label for="name2">Enter another Name</label>
            <input id="name2" name="name2" type="text">
            <br>
            <label for="animal">Enter an Animal (singular)</label>
            <input id="animal" name="animal" type="text">
            <br>
            <label for="exclamation">Enter an Exclamation!</label>
            <input id="exclamation" name="exclamation" type="text">
            <br>
            <label for="thing">Enter an Object</label>
            <input id="thing" name="thing" type="text">
            <br>
            <label for="food">Enter a Food (singular)</label>
            <input id="food" name="food" type="text">
            <br>
            <button type="submit">Show the Story!</button>
        </form>
    </body>
</html>